.git
.gitignore
.github
.env
.env.*
__pycache__/
*.py[cod]
.venv/
**/.venv/
venv/
.venv
.venv/**
.python-version
.uv-cache/
.idea/
.vscode/
*.md
!README.md
tests/
notebooks/
htmlcov/
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
mlruns/
mlartifacts/
docker-compose*.yml
Dockerfile
.dockerignore
